{% extends "base.html" %}

{% block title %} User Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if session['role']=='admin' %}
<style>
    .days-div span{
    margin-left:10px;
    margin-right:10px;
    font-size:15px;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">

                <div class="card-body">
                    <form action="/updatejoborder" method="post">

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Company</label>
                                    <input type="text" class="form-control" name="company" placeholder="{{jobsdata.company_name}}"
                                       value="{{jobsdata.company_name}}" >

                                </div>
                            </div>
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Job Title</label>
                                    <input type="text" class="form-control" name="title" placeholder="{{jobsdata.title}}"
                                       value="{{jobsdata.title}}" >
                                    <input type="text" class="form-control" name="id" placeholder="{{jobsdata.id}}"
                                       value="{{jobsdata.id}}" hidden="" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Pay Rate</label>
                                    <input type="number" class="form-control" name="payrate" placeholder="{{jobsdata.payrate}}"
                                       value="{{jobsdata.payrate}}" >
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label>Pay rate type</label>
                                    <select class="form-control" name="pay_rate_type">
                                        <option value="Monthly" {% if jobsdata.salarytype=="Monthly" %} selected {%
                                            endif %}>Monthly</option>
                                        <option value="Yearly" {% if jobsdata.salarytype=="Yearly" %} selected {% endif
                                            %}>Yearly</option>
                                        <option value="Hourly" {% if jobsdata.salarytype=="Hourly" %} selected {% endif
                                            %}>Hourly</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label class="form-label">Total Vacancies</label>
                                    <input type="number" name="vacancy" class="form-control" placeholder="{{jobsdata.vacancy}}" value="{{jobsdata.vacancy}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>selected days</label>
                                       <div class="days-div">
                                           <label>
                                               <span> M</span>
                                               <input type="checkbox" id="mon" name="days[]" value="mon" {% if 'mon' in jobsdata.days %}checked{% endif %}>
                                           </label>
                                           <label>
                                               <span> T</span>
                                               <input type="checkbox" id="tues" name="days[]" value="tues" {% if 'tues' in jobsdata.days %}checked{% endif %}>
                                           </label>
                                           <label>
                                               <span> W</span>
                                               <input type="checkbox" id="wed" name="days[]" value="wed" {% if 'wed' in jobsdata.days %}checked{% endif %} >
                                           </label>
                                           <label>
                                               <span> T</span>
                                               <input type="checkbox" id="thur" name="days[]" value="thur" {% if 'thur' in jobsdata.days %}checked{% endif %} >
                                           </label>
                                           <label>
                                               <span> F</span>
                                               <input type="checkbox" id="fri" name="days[]" value="fri" {% if 'fri' in jobsdata.days %}checked{% endif %}>
                                           </label>
                                           <label>
                                               <span> S</span>
                                               <input type="checkbox" id="sat" name="days[]" value="sat" {% if 'sat' in jobsdata.days %}checked{% endif %} >
                                           </label>
                                           <label>
                                               <span> S</span>
                                               <input type="checkbox" id="sun" name="days[]" value="sun" {% if 'sun' in jobsdata.days %}checked{% endif %} >
                                                                             </label>
                                       </div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                   <label>Shifts<span>*</span></label>
                                    <div class="inputsfor">
                                        <input type="time" name="shift_start" value="{{jobsdata.starttime}}"
                                            required />
                                        To
                                        <input type="time" required name="shift_end" value="{{jobsdata.endtime}}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-fill btn-primary">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}